# Git
.git
.gitignore

# Python
__pycache__
*.pyc
*.pyo
*.pyd
.Python
env
pip-log.txt
pip-delete-this-directory.txt
.tox
.coverage
.coverage.*
.pytest_cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis

# CI/CD
.github

# Documentation
docs/
*.md
{%- if documentation %}
!README.md
{%- endif %}

# IDEs
.vscode
.idea
*.swp
*.swo
*~

# OS
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Virtual environments
venv/
env/
ENV/

# Build artifacts
build/
dist/
*.egg-info/

# Tests
tests/

# Other
.pre-commit-config.yaml
.copier-answers.yml
renovate.json